#slider-container {
    position: relative;
    max-width: 100%;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    color: white;
    padding: 10px 3em;
}
#slider {
    height: 10em;
    display: flex;
    gap: 0.5em;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    bottom: 0;
    position: relative;
    transition: all 1s ease-in-out;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
.slide {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 8em;
    aspect-ratio: 1;
    user-select: none;
    isolation: isolate;
    scroll-snap-align: start;
    align-items: center;
    gap: 0.5em;
}
.slide > h3 {
    align-self: flex-end;
    width: 100%;
    text-align: center;
}
.slide > img {
    /*     position: absolute;
 */
    z-index: -2;
    user-select: none;
    width: 8em;
    aspect-ratio: 1;
}

#slider::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#slider {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
#left-arrow,
#right-arrow {
    position: absolute;
    width: 3em;
    height: 100%;
    z-index: 2;
    background: linear-gradient(#e66465, #9198e5);
    top: 50%;
    transform: translateY(-50%);
}

#left-arrow:hover,
#right-arrow:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

#left-arrow {
    left: 0px;
    background: linear-gradient(to right, #2c2c2c, transparent);
}
#right-arrow {
    right: 0px;
    background: linear-gradient(to left, #2c2c2c, transparent);
}
#left-arrow::after,
#left-arrow::before,
#right-arrow::after,
#right-arrow::before {
    content: '';
    width: 23px;
    height: 0.1em;
    background-color: white;
    z-index: 3;
    top: 50%;
    position: absolute;
}
#left-arrow::after {
    left: 0.2em;
    transform: rotate(-45deg) translateX(11px);
}
#left-arrow::before {
    left: 0.2em;
    transform: rotate(45deg) translateX(11px);
}
#right-arrow::after {
    right: 0.2em;
    transform: rotate(-135deg) translateX(11px);
}
#right-arrow::before {
    right: 0.2em;
    transform: rotate(135deg) translateX(11px);
}

@media screen and (max-width: 600px) {
    #left-arrow,
    #right-arrow {
        display: none;
    }
    #slider-container {
        padding: 5px 5px;
    }
}
