@import 'navbar.css';
@import 'slider.css';

:root {
    font-size: 14px;
    --background-body: rgba(0, 0, 0, 0.9);
    --main-green-dark: rgb(75, 133, 0);
    --main-green-dark-shadow: rgb(17, 31, 0);
    --main-green-dark-strong: rgb(48, 85, 0);
    --main-font-light: rgba(250, 250, 250, 0.85);
    --main-font-dark: rgba(31, 31, 31, 0.85);
    --hover-light: rgba(255, 255, 255, 0.3);
    --back-light: rgba(0, 0, 0, 0.2);

    --txt-accent: rgb(184, 165, 0);
    --txt-primary: rgb(75, 133, 0);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
    padding: 0;
    background-color: var(--background-body);
    place-items: center;
}

@media screen and (min-width: 50em) {
    :root {
        font-size: 1.1em;
    }
}

main {
    margin: 0 auto;

    width: 100%;
    max-width: 1900px;
    background-color: var(--back-light);
}

.container {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.txt-clr-accent {
    color: var(--txt-accent);
}
.txt-clr-primary {
    color: var(--txt-primary);
}
#hero_section {
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
}
#hero_section picture img {
    min-width: 100%;
    height: 100%;
}
#hero_section picture {
    position: absolute;
    z-index: -1;
    opacity: 0.45;
    width: 100%;
    height: 100%;
}
#hero_section article {
    backdrop-filter: blur(10px);
    padding: 1em;
    align-self: flex-start;
    transform: translate(10%, 8em);
    margin-right: 30px;
}
#hero_title {
    font-size: 1.2em;
    color: white;
}
#hero_title > h1 {
    font-size: 2.5em;
}
#hero_button {
    padding: 2px 1em;
    font-size: 1.5em;
    background-color: var(--main-green-dark);
    border: none;
    text-transform: uppercase;
    color: var(--main-font-light);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 5px var(--main-font-light);
    transition: all 0.2s ease-in-out;
    transform: translateY(5em);
}
#hero_button:hover {
    background-color: var(--main-green-dark-strong);
}

#footer_bar {
    padding: 2vh 10vw;
    background: var(--main-green-dark);
    height: 15em;
    display: flex;
    width: 100%;
    gap: 0.5em;
    color: var(--main-font-light);
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 1em;
    align-items: center;
}
#footer_bar section a {
    text-decoration: none;
    color: var(--main-font-light);
}

@media screen and (max-width: 600px) {
    #footer_bar {
        padding: 3px 10px;
    }
}
#about_section h2 {
    min-width: 100%;
}

#about_section {
    display: grid;
    gap: 10em;
}

.article-wrapper > * {
    flex: 1 1 45%;
    min-width: 300px;
    aspect-ratio: 1;
}
.article-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.category {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 500px;
    max-height: 500px;
}
.cat-anchor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.article-wrapper > * > h2 {
    max-width: 30%;
    position: sticky;
    top: 3em;
    color: white;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    backdrop-filter: blur(50px);

    transition: 0.5s ease-in-out;
}
.article-wrapper > * {
    transition: background-size 0.5s ease-in-out;
    background-size: 100%;
    background-blend-mode: multiply;
}

.article-wrapper > *:hover {
    background-size: 102%;
    background-blend-mode: normal;
}
.red {
    background-color: red;
    background-image: url('/src/images/article-home/clothing.webp');
}
.green {
    background-color: green;
    background-image: url('/src/images/article-home/footwear.webp');
}
.purple {
    background-color: blueviolet;
    background-image: url('/src/images/article-home/accessories.webp');
}
.orange {
    background-color: orange;
    background-image: url('/src/images/article-home/sportsgear.webp');
}
.aside-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 40vh;
    gap: 2em;
}
.aside-article {
    flex: 1 1 0;
}
.aside-article > div {
    top: 3em;
    position: sticky;
    background: green;
    padding: 1em;
    min-width: 200px;
}
@media screen and (min-width: 600px) {
    #about_section {
        grid-template-columns: 4fr 1fr;
        column-gap: 1em;
        padding: 5vh;
    }
}

@media screen and (min-width: 2000px) {
    :root {
        font-size: 24px;
    }
}
