@import 'navbar.css';
@import 'slider.css';

:root {
    font-size: 18px;
    --background-body: rgba(0, 0, 0, 0.9);
    --main-green-dark: rgb(75, 133, 0);
    --main-green-dark-shadow: rgb(17, 31, 0);
    --main-green-dark-strong: rgb(48, 85, 0);
    --main-font-light: rgba(250, 250, 250, 0.85);
    --main-font-dark: rgba(31, 31, 31, 0.85);
    --hover-light: rgba(255, 255, 255, 0.3);
    --back-light: rgba(255, 255, 255, 0.1);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
    padding: 0;
    background-color: var(--background-body);
    place-items: center;
}
@media screen and (max-width: 1200px) {
    :root {
        font-size: 26px;
    }
}
@media screen and (max-width: 900px) {
    :root {
        font-size: 16px;
    }
}
@media screen and (max-width: 600px) {
    :root {
        font-size: 14px;
    }
}
@media screen and (max-width: 400px) {
    :root {
        font-size: 12px;
    }
}
main {
    margin: 0 auto;

    width: 100%;
    max-width: 1900px;
    background-color: var(--back-light);
}

.container {
    width: 100%;
    min-height: 100vh;
    position: relative;
}
#hero_section {
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-evenly;
}
#hero_section picture img {
    min-width: 100%;
    height: 100%;
}
#hero_section picture {
    position: absolute;
    z-index: -1;
    opacity: 0.45;
    width: 100%;
    height: 100%;
}
#hero_section article {
    backdrop-filter: blur(10px);
    padding: 1em;
    align-self: flex-start;
}
#hero_title {
    font-size: 1.2em;
    color: white;
}
#hero_title > h1 {
    font-size: 2.5em;
}
#hero_button {
    padding: 2px 1em;
    font-size: 1.5em;
    background-color: var(--main-green-dark);
    border: none;
    text-transform: uppercase;
    color: var(--main-font-light);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 5px var(--main-font-light);
    transition: all 0.2s ease-in-out;
}
#hero_button:hover {
    background-color: var(--main-green-dark-strong);
}

#footer_bar {
    padding: 2vh 10vw;
    background: var(--main-green-dark);
    height: 30px;
    display: flex;
    width: 100%;
    gap: 0.5em;
    color: var(--main-font-light);
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 1em;
    align-items: center;
}
#footer_bar section a {
    text-decoration: none;
    color: var(--main-font-light);
}
#footer_bar section {
}

@media screen and (max-width: 600px) {
    #footer_bar {
        padding: 3px 10px;
    }
}
